In [1]:
import pandas as pd

In [7]:
d = {'x':100, 'y':200, 'z':300}
s1 = pd.Series(d)
#print(s1)
#print(s1.index)
print(s1.data)

<memory at 0x1161521c8>

/Users/liwei/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: Series.data is deprecated and will be removed in a future version
  """

In [9]:
L1 = [100, 200, 300]
L2 = ['x', 'y', 'z']
s1 = pd.Series(L1, index= L2)
#print(s1)
print(s1.index)

Index(['x', 'y', 'z'], dtype='object')

In [15]:
s1 = pd.Series([1,2,3], index= [1,2,3], name = 'A')
s2 = pd.Series([10,20,30], index= [1,2,3], name = 'B')
#s3 = pd.Series([100,200,300], index= [1,2,3], name = 'C')
s3 = pd.Series([100,200,300], index= [2,3,4], name = 'C')
df = pd.DataFrame({s1.name: s1, s2.name: s2, s3.name: s3})
#df = pd.DataFrame([s1,s2,s3])
print(df)

     A     B      C
1  1.0  10.0    NaN
2  2.0  20.0  100.0
3  3.0  30.0  200.0
4  NaN   NaN  300.0

In [7]:
a1 = pd.Series([1,2,3], index= [1,2,3], name = 'A')
a2 = pd.Series([20,25,30], index= [1,3,4], name= 'B')
a3 = pd.Series([300, 400, 500], index = [1,2,4], name= 'C')

In [3]:
a1

1    1
2    2
3    3
Name: A, dtype: int64

In [8]:
df = pd.DataFrame({a1.name: a1, a2.name: a2, a3.name: a3})
df

     A     B      C
1  1.0  20.0  300.0
2  2.0   NaN  400.0
3  3.0  25.0    NaN
4  NaN  30.0  500.0

In [6]:
a1 = pd.DataFrame({'A':[1,2,3]}, index= [1,2,3])
a1

   A
1  1
2  2
3  3