In [1]:
import pandas as pd

In [20]:
students = pd.read_excel('Students_Duplicates.xlsx')
#print(students)

In [13]:
#用drop_duplicates消除重复数据
#students.drop_duplicates(subset= 'Name', inplace= True)#默认keep='first'保留前面
#students.drop_duplicates(subset= 'Name', inplace= True, keep= 'last')#keep=‘last’保留后面
#print(students)

In [25]:
#定位重复数据
dupe= students.duplicated(subset= 'Name') 
print(dupe)

#print(dupe.any())#判断整个文件是否有重复数据

#dupe= dupe[dupe == True]#因为dupe里面的True就是bool，所以可以直接表达为下：
dupe= dupe[dupe]

print(dupe)
print(dupe.index)#显示索引
print(students.iloc[dupe.index])#根据索引定位出谁是重复数据

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20     True
21     True
22     True
23     True
24     True
dtype: bool
20    True
21    True
22    True
23    True
24    True
dtype: bool
Int64Index([20, 21, 22, 23, 24], dtype='int64')
    ID         Name  Test_1  Test_2  Test_3
20  21  Student_001      62      86      83
21  22  Student_002      77      97      78
22  23  Student_003      57      96      46
23  24  Student_004      57      87      80
24  25  Student_005      95      59      87

In [22]:
students = pd.read_excel('Students_Duplicates.xlsx')
students

    ID         Name  Test_1  Test_2  Test_3
0    1  Student_001      62      86      83
1    2  Student_002      77      97      78
2    3  Student_003      57      96      46
3    4  Student_004      57      87      80
4    5  Student_005      95      59      87
5    6  Student_006      56      97      61
6    7  Student_007      64      91      67
7    8  Student_008      96      70      48
8    9  Student_009      77      73      48
9   10  Student_010      90      94      67
10  11  Student_011      62      55      63
11  12  Student_012      83      76      81
12  13  Student_013      68      60      90
13  14  Student_014      82      68      98
14  15  Student_015      61      67      91
15  16  Student_016      59      63      46
16  17  Student_017      62      83      93
17  18  Student_018      90      75      80
18  19  Student_019     100      95      55
19  20  Student_020      61      87     100
20  21  Student_001      62      86      83
21  22  Student_002      77      97      78
22  23  Student_003      57      96      46
23  24  Student_004      57      87      80
24  25  Student_005      95      59      87

In [9]:
students.drop_duplicates(subset='Name', inplace= True)#默认keep= 'first'
students

    ID         Name  Test_1  Test_2  Test_3
0    1  Student_001      62      86      83
1    2  Student_002      77      97      78
2    3  Student_003      57      96      46
3    4  Student_004      57      87      80
4    5  Student_005      95      59      87
5    6  Student_006      56      97      61
6    7  Student_007      64      91      67
7    8  Student_008      96      70      48
8    9  Student_009      77      73      48
9   10  Student_010      90      94      67
10  11  Student_011      62      55      63
11  12  Student_012      83      76      81
12  13  Student_013      68      60      90
13  14  Student_014      82      68      98
14  15  Student_015      61      67      91
15  16  Student_016      59      63      46
16  17  Student_017      62      83      93
17  18  Student_018      90      75      80
18  19  Student_019     100      95      55
19  20  Student_020      61      87     100

In [23]:
dupe = students.duplicated('Name')
#dupe
dupe[dupe == True]

20    True
21    True
22    True
23    True
24    True
dtype: bool

In [26]:
dupe[dupe== True].index

Int64Index([20, 21, 22, 23, 24], dtype='int64')

In [28]:
stu= students.iloc[dupe[dupe== True].index]

In [29]:
stu

    ID         Name  Test_1  Test_2  Test_3
20  21  Student_001      62      86      83
21  22  Student_002      77      97      78
22  23  Student_003      57      96      46
23  24  Student_004      57      87      80
24  25  Student_005      95      59      87

In [32]:
students.drop_duplicates(subset='Name', inplace= True, keep= 'last')
students

    ID         Name  Test_1  Test_2  Test_3
5    6  Student_006      56      97      61
6    7  Student_007      64      91      67
7    8  Student_008      96      70      48
8    9  Student_009      77      73      48
9   10  Student_010      90      94      67
10  11  Student_011      62      55      63
11  12  Student_012      83      76      81
12  13  Student_013      68      60      90
13  14  Student_014      82      68      98
14  15  Student_015      61      67      91
15  16  Student_016      59      63      46
16  17  Student_017      62      83      93
17  18  Student_018      90      75      80
18  19  Student_019     100      95      55
19  20  Student_020      61      87     100
20  21  Student_001      62      86      83
21  22  Student_002      77      97      78
22  23  Student_003      57      96      46
23  24  Student_004      57      87      80
24  25  Student_005      95      59      87