In [1]:
import pandas as pd

In [5]:
page_001 = pd.read_excel('Students27.xlsx', sheet_name='Page_001')
page_002 = pd.read_excel('Students27.xlsx', sheet_name='Page_002')
#page_001
#page_002

In [10]:
#追加已有
students =page_001.append(page_002).reset_index(drop= True)
#students.head()
students.tail()

   ID         Name  Score
0   1  Student_001     90
1   2  Student_002     90
2   3  Student_003     90
3   4  Student_004     90
4   5  Student_005     90

In [16]:
#追加新建
stu = pd.Series({'ID':41, 'Name': 'Zhaozhao', 'Score': 90})
students= students.append(stu, ignore_index= True)
#students.tail()

In [17]:
#删除（可切片）
students = students.drop(index= [39, 40])
#students.tail()

In [20]:
#插入
stu = pd.Series({'ID':100, 'Name': 'Lweiwei', 'Score': 100})
part1= students[:21]
part2= students[21:]
students = part1.append(stu, ignore_index= True).append(part2).reset_index(drop= True)
#students

In [22]:
#更改
stu = pd.Series({'ID':102, 'Name': 'Liuliu', 'Score': 100})
students.iloc[38]= stu
#students

In [24]:
#设置空格
for i in range(5, 15):
    students['Name'].at[i]= ''
#students

In [26]:
#去掉空格
missing = students.loc[students['Name'] == '']
students.drop(missing.index, inplace= True)
#students

In [1]:
import pandas as pd

In [10]:
page_001= pd.read_excel('Students27.xlsx', sheet_name= 'Page_001')
page_002= pd.read_excel('Students27.xlsx', sheet_name= 'Page_002')

#追加已有
#students= page_001.append(page_002).reset_index(drop= True)

#追加新建
#stu= pd.Series({'ID':41, 'Name':'Zhaozhao', 'Score': 98})
#students= students.append(stu, ignore_index= True)

#删除（可切片）
#students= students.drop(index= [38, 39])

#插入
#stu= pd.Series({'ID':50, 'Name':'LiuLIu', 'Score': 99})
#part1= students[:20]
#part2= students[20:]
#students= part1.append(stu, ignore_index= True).append(part2).reset_index(drop= True)

#更改
#stu= pd.Series({'ID':30, 'Name':'Tom', 'Score':'77'})
#students.iloc[30]= stu

#设置空格
for i in range(5,15):
    students['Name'].at[i]= ''

#去掉空格
missing= students.loc[students['Name']== '']
students.drop(missing.index, inplace= True)
students

    ID         Name Score
0    1  Student_001    90
1    2  Student_002    90
2    3  Student_003    90
3    4  Student_004    90
4    5  Student_005    90
15  16  Student_016    90
16  17  Student_017    90
17  18  Student_018    90
18  19  Student_019    90
19  20  Student_020    90
20  50       LiuLIu    99
21  21  Student_021    80
22  22  Student_022    80
23  23  Student_023    80
24  24  Student_024    80
25  25  Student_025    80
26  26  Student_026    80
27  27  Student_027    80
28  28  Student_028    80
29  29  Student_029    80
30  30          Tom    77
31  31  Student_031    80
32  32  Student_032    80
33  33  Student_033    80
34  34  Student_034    80
35  35  Student_035    80
36  36  Student_036    80
37  37  Student_037    80
38  38  Student_038    80
39  41     Zhaozhao    98