In [1]:
import pandas as pd

In [5]:
page_001 = pd.read_excel('Students27.xlsx', sheet_name='Page_001')
page_002 = pd.read_excel('Students27.xlsx', sheet_name='Page_002')
#page_001
#page_002

In [10]:
#追加已有
students =page_001.append(page_002).reset_index(drop= True)
#students.head()
students.tail()

   ID         Name  Score
0   1  Student_001     90
1   2  Student_002     90
2   3  Student_003     90
3   4  Student_004     90
4   5  Student_005     90

In [16]:
#追加新建
stu = pd.Series({'ID':41, 'Name': 'Zhaozhao', 'Score': 90})
students= students.append(stu, ignore_index= True)
#students.tail()

In [17]:
#删除（可切片）
students = students.drop(index= [39, 40])
#students.tail()

In [20]:
#插入
stu = pd.Series({'ID':100, 'Name': 'Lweiwei', 'Score': 100})
part1= students[:21]
part2= students[21:]
students = part1.append(stu, ignore_index= True).append(part2).reset_index(drop= True)
#students

In [22]:
#更改
stu = pd.Series({'ID':102, 'Name': 'Liuliu', 'Score': 100})
students.iloc[38]= stu
#students

In [24]:
#设置空格
for i in range(5, 15):
    students['Name'].at[i]= ''
#students

In [26]:
#去掉空格
missing = students.loc[students['Name'] == '']
students.drop(missing.index, inplace= True)
#students