In [1]:
import pandas as pd
from datetime import date, timedelta

In [12]:
books = pd.read_excel('Books.xlsx', skiprows= 3, usecols= 'C:F',index_col= None,
                     dtype= {'ID': str, 'InStore': str, 'Date': str})

def add_month(d, md):
    yd = md//12
    m = d.month + md % 12
    if m != 12:
        yd += m // 12
        m = m % 12
    return date(d.year + yd, m, d.day)

start = date(2019,1,1)
for i in books.index:
    books['ID'].at[i]= i+1
    books['InStore'].at[i] = 'Yes' if i % 2 == 0 else 'No'
    #books['Date'].at[i] = start + timedelta(days = i)#日
    #books['Date'].at[i] = date(start.year+i, start.month, start.day)#年
    #books['Date'].at[i] = add_month(start, i)#月 Series
    books.at[i,'Date'] = add_month(start, i)#月 DataFrame
    
books.set_index('ID', inplace = True)    
print(books)
#books.to_csv('output.csv')

        Name InStore        Date
ID
1   Book_001     Yes  2019-01-01
2   Book_002      No  2019-02-01
3   Book_003     Yes  2019-03-01
4   Book_004      No  2019-04-01
5   Book_005     Yes  2019-05-01
6   Book_006      No  2019-06-01
7   Book_007     Yes  2019-07-01
8   Book_008      No  2019-08-01
9   Book_009     Yes  2019-09-01
10  Book_010      No  2019-10-01
11  Book_011     Yes  2019-11-01
12  Book_012      No  2019-12-01
13  Book_013     Yes  2020-01-01
14  Book_014      No  2020-02-01
15  Book_015     Yes  2020-03-01
16  Book_016      No  2020-04-01
17  Book_017     Yes  2020-05-01
18  Book_018      No  2020-06-01
19  Book_019     Yes  2020-07-01
20  Book_020      No  2020-08-01