In [1]:
import pandas as pd

In [15]:
products = pd.read_excel('List.xlsx', index_col= 'ID')
products.sort_values(by=['Worthy','Price'], inplace= True, ascending= [True,False])
#print(products)
products.to_csv('output.csv')

In [2]:
products = pd.read_excel('List.xlsx', index_col= 'ID')
products

           Name  Price Worthy
ID
1   Product_001   9.82    Yes
2   Product_002  11.99    Yes
3   Product_003   9.62     No
4   Product_004  11.08    Yes
5   Product_005   7.75    Yes
6   Product_006   7.34     No
7   Product_007  10.97    Yes
8   Product_008  11.14    Yes
9   Product_009   8.98     No
10  Product_010   9.18    Yes
11  Product_011   8.31    Yes
12  Product_012   7.29     No
13  Product_013   8.36    Yes
14  Product_014   9.16    Yes
15  Product_015  10.31     No
16  Product_016  10.26    Yes
17  Product_017  11.95    Yes
18  Product_018  11.22     No
19  Product_019  10.95    Yes
20  Product_020   8.82    Yes

In [8]:
products.sort_values(by= ['Worthy','Price'], ascending= False)

           Name  Price Worthy
ID
2   Product_002  11.99    Yes
17  Product_017  11.95    Yes
8   Product_008  11.14    Yes
4   Product_004  11.08    Yes
7   Product_007  10.97    Yes
19  Product_019  10.95    Yes
16  Product_016  10.26    Yes
1   Product_001   9.82    Yes
10  Product_010   9.18    Yes
14  Product_014   9.16    Yes
20  Product_020   8.82    Yes
13  Product_013   8.36    Yes
11  Product_011   8.31    Yes
5   Product_005   7.75    Yes
18  Product_018  11.22     No
15  Product_015  10.31     No
3   Product_003   9.62     No
9   Product_009   8.98     No
6   Product_006   7.34     No
12  Product_012   7.29     No