In [1]:
import pandas as pd

In [5]:
#方法1
students = pd.read_excel('Students.xlsx', index_col= 'ID')

def Age_10_to_30(a):
    return 18 <= a < 30
def Level_a(s):
    return 85 <= s <= 100

students = students.loc[students['Age'].apply(Age_10_to_30)].loc[students['Score'].apply(Level_a)]
print(students)

           Name  Age  Score
ID
2   Student_002   26     92
6   Student_006   20     93
9   Student_009   18     85
19  Student_019   19     86
20  Student_020   20     94

In [10]:
#方法2
students = pd.read_excel('Students.xlsx', index_col= 'ID')

def Age_10_to_30(a):
    return 18 <= a < 30
def Level_a(s):
    return 85 <= s <= 100

students = students.loc[students.Age.apply(Age_10_to_30)] \
.loc[students.Score.apply(Level_a)]
print(students)

           Name  Age  Score
ID
2   Student_002   26     92
6   Student_006   20     93
9   Student_009   18     85
19  Student_019   19     86
20  Student_020   20     94

In [13]:
#方法3
students = pd.read_excel('Students.xlsx', index_col= 'ID')

students = students.loc[students.Age.apply(lambda a: 18 <= a < 30)] \
.loc[students.Score.apply(lambda s: 85 <= s <= 100)]               #空格+正斜线
print(students)

           Name  Age  Score
ID
2   Student_002   26     92
6   Student_006   20     93
9   Student_009   18     85
19  Student_019   19     86
20  Student_020   20     94

In [3]:
students.dtypes

Name     object
Age       int64
Score     int64
dtype: object

In [18]:
students = pd.read_excel('Students.xlsx', index_col= 'ID')
students = students.loc[students.Age.apply(lambda a: 1 <= a <= 30)] \
.loc[students.Score.apply(lambda b: 85<= b <=100)]
students.sort_values(by = ['Age', 'Score'])

           Name  Age  Score
ID
1   Student_001   16     87
9   Student_009   18     85
19  Student_019   19     86
6   Student_006   20     93
20  Student_020   20     94
2   Student_002   26     92
16  Student_016   30     96

In [23]:
students.sort_values(by = ['Score', 'Age'], ascending=['False', 'False'])

           Name  Age  Score
ID
9   Student_009   18     85
19  Student_019   19     86
1   Student_001   16     87
2   Student_002   26     92
6   Student_006   20     93
20  Student_020   20     94
16  Student_016   30     96