In [1]:
import pandas as pd

In [23]:
students = pd.read_excel('Students17.xlsx')
#print(students)
#print(students.columns)

In [24]:
#if函数

#def Score_validation(row):
#    if not 0<=row.Score<=100:
#        print(f'#{row.ID}\tstudent{row.Name}has an invalid score{row.Score}.')#\t制表符

In [25]:
#students.apply(Score_validation, axis= 1)

In [21]:
#assert函数  # validation验证

def Score_validation(row):
    try:
        assert 0<=row.Score<=100
    except:
        print(f'#{row.ID}\tstudent{row.Name}has an invalid score {row.Score}.')#\t制表符

In [22]:
students.apply(Score_validation, axis= 1)
#axis是轴的意思，axis=1（按行检验，即从左向右），axis=0（按列检验，即从上到下）

#1	studentStudent_001has an invalid score -40.
#2	studentStudent_002has an invalid score -30.
#3	studentStudent_003has an invalid score -20.
#4	studentStudent_004has an invalid score -10.
#16	studentStudent_016has an invalid score 110.
#17	studentStudent_017has an invalid score 120.
#18	studentStudent_018has an invalid score 130.
#19	studentStudent_019has an invalid score 140.
#20	studentStudent_020has an invalid score 150.

0     None
1     None
2     None
3     None
4     None
5     None
6     None
7     None
8     None
9     None
10    None
11    None
12    None
13    None
14    None
15    None
16    None
17    None
18    None
19    None
dtype: object

In [1]:
import pandas as pd

In [9]:
students = pd.read_excel('Students17.xlsx')
students

    ID         Name  Score
0    1  Student_001    -40
1    2  Student_002    -30
2    3  Student_003    -20
3    4  Student_004    -10
4    5  Student_005      0
5    6  Student_006     10
6    7  Student_007     20
7    8  Student_008     30
8    9  Student_009     40
9   10  Student_010     50
10  11  Student_011     60
11  12  Student_012     70
12  13  Student_013     80
13  14  Student_014     90
14  15  Student_015    100
15  16  Student_016    110
16  17  Student_017    120
17  18  Student_018    130
18  19  Student_019    140
19  20  Student_020    150

In [7]:
#if函数
def Score_validation(row):
    if not 0 <= row.Score <= 100:
        print(f'#{row.ID}\tstudent{row.Name}has an invalid score{row.Score}.')

In [11]:
students.apply(Score_validation, axis= 1)

#1	studentStudent_001has an invalid score-40.
#2	studentStudent_002has an invalid score-30.
#3	studentStudent_003has an invalid score-20.
#4	studentStudent_004has an invalid score-10.
#16	studentStudent_016has an invalid score110.
#17	studentStudent_017has an invalid score120.
#18	studentStudent_018has an invalid score130.
#19	studentStudent_019has an invalid score140.
#20	studentStudent_020has an invalid score150.

0     None
1     None
2     None
3     None
4     None
5     None
6     None
7     None
8     None
9     None
10    None
11    None
12    None
13    None
14    None
15    None
16    None
17    None
18    None
19    None
dtype: object

In [12]:
#assert函数
def Score_validation(row):
    try:
        assert 0 <= row.Score <=100
    except:
        print(f'#{row.ID}\tstudent{row.Name}has an invalid score {row.Score}.')

In [13]:
students.apply(Score_validation, axis= 1)

#1	studentStudent_001has an invalid score -40.
#2	studentStudent_002has an invalid score -30.
#3	studentStudent_003has an invalid score -20.
#4	studentStudent_004has an invalid score -10.
#16	studentStudent_016has an invalid score 110.
#17	studentStudent_017has an invalid score 120.
#18	studentStudent_018has an invalid score 130.
#19	studentStudent_019has an invalid score 140.
#20	studentStudent_020has an invalid score 150.

0     None
1     None
2     None
3     None
4     None
5     None
6     None
7     None
8     None
9     None
10    None
11    None
12    None
13    None
14    None
15    None
16    None
17    None
18    None
19    None
dtype: object