In [1]:
import pandas as pd

In [7]:
employees = pd.read_excel('Employees.xlsx', index_col= 'ID')
#df= employees['Full Name'].str.split()#还是一个列表
df= employees['Full Name'].str.split(expand= True)#expand分为两列表（expand扩大，扩展）
employees['First Name']= df[0]
employees['Last Name']= df[1]
#print(employees)
#print(df)
print(employees)

           Full Name First Name    Last Name
ID
1         Syed Abbas       Syed        Abbas
2     Catherine Abel  Catherine         Abel
3    Kim Abercrombie        Kim  Abercrombie
4    Kim Abercrombie        Kim  Abercrombie
5    Kim Abercrombie        Kim  Abercrombie
6     Hazem Abolrous      Hazem     Abolrous
7       Sam Abolrous        Sam     Abolrous
8   Humberto Acevedo   Humberto      Acevedo
9     Gustavo Achong    Gustavo       Achong
10    Pilar Ackerman      Pilar     Ackerman
11    Pilar Ackerman      Pilar     Ackerman
12       Aaron Adams      Aaron        Adams
13        Adam Adams       Adam        Adams
14        Alex Adams       Alex        Adams
15   Alexandra Adams  Alexandra        Adams
16     Allison Adams    Allison        Adams
17      Amanda Adams     Amanda        Adams
18       Amber Adams      Amber        Adams
19      Andrea Adams     Andrea        Adams
20       Angel Adams      Angel        Adams


- 补充参考google "pandas.Series.str.split" 
- https://pandas.pydata.org/pandas-docs/version/0.22/api.html; String handing

In [51]:
#区别split（），rsplit（）
#Series.str.split([pat, n, expand])
#Split each string (a la re.split) in the Series/Index by given pattern（按给定的模式）, 
#propagating NA values.（propagat传播，宣扬）

#Series.str.rsplit([pat, n, expand])
#Split each string in the Series/Index by the given delimiter string（按给定的分隔符字符串）,
#starting at the end of the string and working to the front（从后到前）

employees = pd.read_excel('Employees.xlsx', index_col= 'ID')
df= employees['Full Name'].str.split(expand= True)

employees['First Name']= df[0].str.lower()
employees['Last Name']= df[1].str.upper()

print(employees)
#print(df)

           Full Name First Name    Last Name
ID
1         Syed Abbas       syed        ABBAS
2     Catherine Abel  catherine         ABEL
3    Kim Abercrombie        kim  ABERCROMBIE
4    Kim Abercrombie        kim  ABERCROMBIE
5    Kim Abercrombie        kim  ABERCROMBIE
6     Hazem Abolrous      hazem     ABOLROUS
7       Sam Abolrous        sam     ABOLROUS
8   Humberto Acevedo   humberto      ACEVEDO
9     Gustavo Achong    gustavo       ACHONG
10    Pilar Ackerman      pilar     ACKERMAN
11    Pilar Ackerman      pilar     ACKERMAN
12       Aaron Adams      aaron        ADAMS
13        Adam Adams       adam        ADAMS
14        Alex Adams       alex        ADAMS
15   Alexandra Adams  alexandra        ADAMS
16     Allison Adams    allison        ADAMS
17      Amanda Adams     amanda        ADAMS
18       Amber Adams      amber        ADAMS
19      Andrea Adams     andrea        ADAMS
20       Angel Adams      angel        ADAMS

In [7]:
employees = pd.read_excel('Employees.xlsx', index_col= 'ID')
df = employees['Full Name'].str.split(expand= True)
employees['First Name'] = df[0]
employees['Last Name'] = df[1]
employees

           Full Name First Name    Last Name
ID
1         Syed Abbas       Syed        Abbas
2     Catherine Abel  Catherine         Abel
3    Kim Abercrombie        Kim  Abercrombie
4    Kim Abercrombie        Kim  Abercrombie
5    Kim Abercrombie        Kim  Abercrombie
6     Hazem Abolrous      Hazem     Abolrous
7       Sam Abolrous        Sam     Abolrous
8   Humberto Acevedo   Humberto      Acevedo
9     Gustavo Achong    Gustavo       Achong
10    Pilar Ackerman      Pilar     Ackerman
11    Pilar Ackerman      Pilar     Ackerman
12       Aaron Adams      Aaron        Adams
13        Adam Adams       Adam        Adams
14        Alex Adams       Alex        Adams
15   Alexandra Adams  Alexandra        Adams
16     Allison Adams    Allison        Adams
17      Amanda Adams     Amanda        Adams
18       Amber Adams      Amber        Adams
19      Andrea Adams     Andrea        Adams
20       Angel Adams      Angel        Adams