In [3]:
import pandas as pd
videos = pd.read_excel('Videos.xlsx', index_col= 'Month')
print(videos)

       Active User  Page View
Month
Jan           1000       3500
Feb           1500       5250
Mar           2250       7875
Apr           3375      11813
May           5063      17721
Jun           7595      26583
Jul          11393      39876
Aug          17090      59815
Sep          25635      89723
Oct          38453     134586
Nov          57680     201880
Dec          86520     302820

In [4]:
#行列转换用transpose()
table= videos.transpose()
print(table)

Month         Jan   Feb   Mar    Apr    May    Jun    Jul    Aug    Sep  \
Active User  1000  1500  2250   3375   5063   7595  11393  17090  25635
Page View    3500  5250  7875  11813  17721  26583  39876  59815  89723

Month           Oct     Nov     Dec
Active User   38453   57680   86520
Page View    134586  201880  302820

In [1]:
import pandas as pd

In [2]:
videos = pd.read_excel('Videos.xlsx', index_col= 'Month')
videos

       Active User  Page View
Month
Jan           1000       3500
Feb           1500       5250
Mar           2250       7875
Apr           3375      11813
May           5063      17721
Jun           7595      26583
Jul          11393      39876
Aug          17090      59815
Sep          25635      89723
Oct          38453     134586
Nov          57680     201880
Dec          86520     302820

In [5]:
videos.transpose()#行列变换

Month,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Active User,1000,1500,2250,3375,5063,7595,11393,17090,25635,38453,57680,86520
Page View,3500,5250,7875,11813,17721,26583,39876,59815,89723,134586,201880,302820