In [1]:
import pandas as pd

In [4]:
orders= pd.read_excel('Orders23.xlsx')
#pd.options.display.max_columns= 999 在vsCode编程中会用的，用来显示所有行，此处用不到
print(orders.head())
print(orders.Date.dtype) ##显示datetime64[ns]说明Date是可以自动转换成日期类型的，它不是普通的‘string’

   ID     Total       Date                  Product      Subcategor Category
0   1  2024.994 2011-05-31   Mountain-100 Black, 42  Mountain Bikes    Bikes
1   2  6074.982 2011-05-31   Mountain-100 Black, 44  Mountain Bikes    Bikes
2   3  2024.994 2011-05-31   Mountain-100 Black, 48  Mountain Bikes    Bikes
3   4  2039.994 2011-05-31  Mountain-100 Silver, 38  Mountain Bikes    Bikes
4   5  2039.994 2011-05-31  Mountain-100 Silver, 42  Mountain Bikes    Bikes
datetime64[ns]

In [5]:
orders['Year']= pd.DatetimeIndex(orders['Date']).year
print(orders.head())

   ID     Total       Date                  Product      Subcategor Category  \
0   1  2024.994 2011-05-31   Mountain-100 Black, 42  Mountain Bikes    Bikes
1   2  6074.982 2011-05-31   Mountain-100 Black, 44  Mountain Bikes    Bikes
2   3  2024.994 2011-05-31   Mountain-100 Black, 48  Mountain Bikes    Bikes
3   4  2039.994 2011-05-31  Mountain-100 Silver, 38  Mountain Bikes    Bikes
4   5  2039.994 2011-05-31  Mountain-100 Silver, 42  Mountain Bikes    Bikes

   Year
0  2011
1  2011
2  2011
3  2011
4  2011

In [7]:
#方法1 直接调用 pivot_table
import numpy as np
pt1= orders.pivot_table(index= 'Category',columns= 'Year', values= 'Total', aggfunc= np.sum)
print(pt1)

Year                 2011          2012          2013          2014
Category
Accessories  2.082077e+04  1.024398e+05  6.750247e+05  4.737876e+05
Bikes        1.194565e+07  2.898552e+07  3.626683e+07  1.745318e+07
Clothing     3.603148e+04  5.555877e+05  1.067690e+06  4.612336e+05
Components   6.391730e+05  3.880758e+06  5.612935e+06  1.669727e+06

In [9]:
#方法2
groups= orders.groupby(['Category', 'Year'])
s= groups['Total'].sum()
c= groups['ID'].count()
pt2= pd.DataFrame({'Sum':s, 'Count':c})
print(pt2)

                           Sum  Count
Category    Year
Accessories 2011  2.082077e+04    360
            2012  1.024398e+05   1339
            2013  6.750247e+05  20684
            2014  4.737876e+05  18811
Bikes       2011  1.194565e+07   3826
            2012  2.898552e+07  10776
            2013  3.626683e+07  16485
            2014  1.745318e+07   8944
Clothing    2011  3.603148e+04    655
            2012  5.555877e+05   4045
            2013  1.067690e+06  10266
            2014  4.612336e+05   6428
Components  2011  6.391730e+05    875
            2012  3.880758e+06   5529
            2013  5.612935e+06   9138
            2014  1.669727e+06   3156